# Gradle
.gradle
**/build/
local.properties

# IDE
*.iml
.idea/
.DS_Store
.vscode/

# OS
Thumbs.db
desktop.ini

# Android
*.apk
*.ap_
*.aab
*.dex
*.class
/captures
.externalNativeBuild
.cxx
*.stacktrace
.navigation/

# Google Services
google-services.json

# Generated
bin/
gen/
out/

# Logs
*.log

# Keystore files
*.keystore
*.jks
keystore.properties
